  <a class="btn btn-xs" href="{{ "{{ path('"~ route_name_prefix ~"_edit', { 'id': entity.id }) }}" }}" title="{{ "{{ 'views.actions.edit'|trans({}, 'VaszevCrudLteBundle') }}" }}">
    <i class="icon fa fa-edit }}"></i>
  </a>
